<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>Microblog - {{ title }}</title>
    {% else %}
    <title>Microblog - NU</title>
    {% endif %}
  </head>
  <body>
    <h1>Hello, {{user.nickname}}!!</h1>
    {% for post in post %}
    <div>
      <p>{{ post.author.nickname}} : <b>{{post.body}}</b> </p>
    </div>
    {% endfor%}
  </body>
</html> -->

{% extends "base.html" %}
{% block content %}
  <h1>Hello, {{user.nickname}}!!</h1>
  {% for post in post %}
  <div>
    <p>{{ post.author.nickname}} : <b>{{post.body}}</b> </p>
  </div>
  {% endfor%}
{% endblock %}
